# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python package/build artifacts
build/
dist/
*.egg-info/
*.egg
*.whl

# dotenv files
.env
.env.*